<nav class="navbar navbar-dark navbar-fixed-top topnav">
    <a class="navbar-brand" routerLink="/">
        <img src="http://placehold.it/30x30" width="30" height="30" class="d-inline-block align-top" alt="">
        *Brandname*
    </a>
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" id="supportedContentDropdown" data-toggle="dropdown">
                <i class="fa fa-user"></i> John Smith <b class="caret"></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                <a class="dropdown-item"><i class="fa fa-fw fa-user"></i>Profile</a>
                <a class="dropdown-item"><i class="fa fa-fw fa-envelope"></i>Inbox</a>
                <a class="dropdown-item"><i class="fa fa-fw fa-gear"></i>Settings</a>
                <a class="dropdown-item"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
            </div>
        </li>

        <!-- When logged out -->
        <li class="nav-item pull-xs-right" *ngIf="!(this.loggedInUser$ | async)">
          <a class="nav-link" routerLink="/auth/login" routerLinActive="active">Login</a>
        </li>
        <li class="nav-item pull-xs-right" *ngIf="!(this.loggedInUser$ | async)">
          <a class="nav-link" routerLink="/auth/signup" routerLinActive="active">Signup</a>
        </li>

        <!-- When logged in -->
        <li class="nav-item pull-xs-right" *ngIf="this.loggedInUser$ | async">
          <a class="nav-link" routerLink="/dashboard" routerLinActive="active">Dashboard</a>
        </li>

    </ul>
</nav>