<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header text-xs-center">
          <h3><i class="fa fa-clipboard fa-4x"></i></h3>
      </div>
      <div class="card-block">
        <h4 class="card-title text-xs-center">Sign up</h4>

          <form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)" novalidate>

          <!-- Username -->
          <div class="form-group"
          [ngClass]="{
          'has-danger': !formGroup.controls['username'].valid && formGroup.controls['username'].touched,
          'has-success': formGroup.controls['username'].valid && formGroup.controls['username'].touched }">
              <label class="col-form-label" for="inputUsername">Username</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>

              <input type="text" class="form-control form-control-success form-control-danger" id="inputUsername"
                required minlength="5" maxlength="20" formControlName="username" ngDefaultControl>
            </div>

              <div class="form-control-feedback" *ngIf="formGroup.controls['username'].hasError('required') && formGroup.controls['username'].touched">Username is required.</div>
                <div class="form-control-feedback" *ngIf="formGroup.controls['username'].hasError('minlength') && formGroup.controls['username'].touched">Your username must be at least 5 characters long.</div>
                <div class="form-control-feedback" *ngIf="formGroup.controls['username'].hasError('maxlength') && formGroup.controls['username'].touched">Your username must be no more than 20 characters long.</div>
                <!--<pre *ngIf="username.errors" class="margin-20">{{ username.errors | json }}</pre>-->

              <small class="form-text text-muted">What others will see you as. e.g. John Doe</small>
          </div>

          <!-- Email -->
          <div class="form-group"
          [ngClass]="{
          'has-danger': !formGroup.controls['email'].valid && formGroup.controls['email'].touched,
          'has-success': formGroup.controls['email'].valid && formGroup.controls['email'].touched }">
              <label class="col-form-label" for="inputEmail">Email</label>

            <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>

              <input type="email" class="form-control form-control-success form-control-danger" id="inputEmail"
              required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" validateEqual="confirmEmail" reverse="true" minlength="6" formControlName="email" ngDefaultControl>
                </div>

              <div class="form-control-feedback" *ngIf="formGroup.controls['email'].hasError('required') && formGroup.controls['email'].touched">Email is required.</div>
                <div class="form-control-feedback" *ngIf="formGroup.controls['email'].hasError('minlength') && formGroup.controls['email'].touched">Your email must be at least 6 characters long.</div>
                <div class="form-control-feedback" *ngIf="formGroup.controls['email'].hasError('pattern') && formGroup.controls['email'].touched">Email format invalid.</div>

                <!--<pre *ngIf="email.errors" class="margin-20">{{ email.errors | json }}</pre>-->

              <small class="form-text text-muted">Your email address. e.g. email@example.com</small>
          </div>

          <!-- Confirm email -->
          <div class="form-group"
          [ngClass]="{
          'has-danger': !formGroup.controls['confirmEmail'].valid && formGroup.controls['confirmEmail'].touched,
          'has-success': formGroup.controls['confirmEmail'].valid && formGroup.controls['confirmEmail'].touched }">
              <label class="col-form-label" for="inputConfirmEmail">Confirm email</label>

            <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>

                <input type="email" class="form-control form-control-success form-control-danger" id="inputConfirmEmail"
                validateEqual="email" reverse="false" formControlName="confirmEmail" ngDefaultControl>
              </div>

              <div class="form-control-feedback" *ngIf="formGroup.controls['confirmEmail'].hasError('required') && formGroup.controls['confirmEmail'].touched">Please confirm email.</div>
                <div class="form-control-feedback" *ngIf="formGroup.controls['confirmEmail'].hasError('validateEqual') && formGroup.controls['confirmEmail'].touched">Confirm email does not match email.</div>
                <!--<pre *ngIf="confirmEmail.errors" class="margin-20">{{ confirmEmail.errors | json }}</pre>-->

              <small class="form-text text-muted">Confirm your email address.</small>
          </div>

          <!-- Password -->
          <div class="form-group"
          [ngClass]="{
          'has-danger': !formGroup.controls['password'].valid && formGroup.controls['password'].touched,
          'has-success': formGroup.controls['password'].valid && formGroup.controls['password'].touched }">
              <label class="col-form-label" for="inputPassword">Password</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>

                <input type="password" class="form-control form-control-success form-control-danger" id="inputPassword"
                required validateEqual="confirmPassword" reverse="true" minlength="6" maxlength="32" formControlName="password" ngDefaultControl>
              </div>

              <div class="form-control-feedback" *ngIf="formGroup.controls['password'].hasError('required') && formGroup.controls['password'].touched">Password is required.</div>
                <div class="form-control-feedback" *ngIf="formGroup.controls['password'].hasError('minlength') && formGroup.controls['password'].touched">Your password must be at least 6 characters long.</div>
                <div class="form-control-feedback" *ngIf="formGroup.controls['password'].hasError('maxlength') && formGroup.controls['password'].touched">Your password must be no more than 32 characters long.</div>

                <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->

              <small class="form-text text-muted">The password you will use to log in.</small>
          </div>

          <!-- Confirm password -->
          <div class="form-group"
          [ngClass]="{
          'has-danger': !formGroup.controls['confirmPassword'].valid && formGroup.controls['confirmPassword'].touched,
          'has-success': formGroup.controls['confirmPassword'].valid && formGroup.controls['confirmPassword'].touched }">
              <label class="col-form-label" for="inputConfirmPassword">Confirm password</label>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>

                <input type="password" class="form-control form-control-success form-control-danger" id="inputConfirmPassword"
                validateEqual="password" reverse="false" formControlName="confirmPassword" ngDefaultControl>
              </div>

              <div class="form-control-feedback" *ngIf="formGroup.controls['confirmPassword'].hasError('required') && formGroup.controls['confirmPassword'].touched">Please confirm password.</div>
                <div class="form-control-feedback" *ngIf="formGroup.controls['confirmPassword'].hasError('validateEqual') && formGroup.controls['confirmPassword'].touched">Confirm password does not match password.</div>
                <!-- <pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre> -->

              <small class="form-text text-muted">Confirm your password.</small>
          </div>

          <!-- Submit button -->
            <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Sign up</button>

          </form>

      </div>
    </div>
  </div>
</div>
