<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <i class="fa fa-fw fa-users"></i> Users
                </li>
            </ol>
        </div>
    </div>
    <button class="btn btn-primary" (click)="loadUsers()">Load Users</button>
    <div class="row">
      <h4>Table head options</h4>
      <div class="card card-block">
          <div class="table-responsive">
              <table class="table">
                  <thead class="thead-inverse">
                      <tr>
                          <th>#</th>
                          <th>Email</th>
                          <th>Role</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let user of (users$ | async); let i = index">
                          <th scope="row">{{i}}</th>
                          <td>{{user.email}}</td>
                          <td>{{user.role}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
</div>